<!DOCTYPE html>
<html>

<head>
   
    <title>Turtle Blocks JS</title>
    

<!--    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/activity.css') }}"> -->


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='activity.js') }}"></script> 
   


<style>
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>
</head>
<body>
  <button onclick="_gitinit()" class="button">Init</button>
  <button onclick="_gitadd()" class="button">Add</button>
  <button onclick="_gitstatus()" class="button">Status</button>
  <button onclick="_gitcommit()" class="button">Commit</button>
  <button onclick="_gitinit()" class="button">Revert</button>
  <button onclick="_gitcommithistory()" class="button">Commit History</button>
  <button onclick="_gitcommitlogs()" class="button">Commit Logs</button>
  <button onclick="_gitdiff()" class="button">Diff</button>
  <button onclick="_gitloadrepo()" class="button">Load a repo</button>
</br>
          
   
</body>
</html>
