<!DOCTYPE html>
<html>

<head>
   
    <title>Turtle Blocks JS</title>
    

<!--    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/activity.css') }}"> -->


<!--    <script type="text/javascript" src="{{ url_for('static', filename='lib/mespeak.js') }}"></script> -->
   

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>

<script>
    
    $(document).ready(function() {
        
            // run an AJAX get request to the route you setup above...
            // respect the cross-domain policy by using the same domain
            // you used to access your index.html file!
           $.ajax({
    url: "/gitlet/git_init.js",
    type:'GET',
    context: document.body
  }).done(function() {
      console.log('Done');
  });
        
    });
      function _gitinit(){
        console.log("Initializing");
           $.ajax({
    url: "init",
    type:'GET',
    context: document.body
  }).done(function(response) {
      console.log(response);
  });
        
        };

        function _gitadd(){
            console.log("Adding");
           $.ajax({
    url: "add",
    type:'GET',
    context: document.body
  }).done(function(response) {
      console.log(response);
  }).error(function(response){
    console.log(response);
  });


        };

        function _gitstatus(){
console.log("Getting Status");
           $.ajax({
    url: "status",
    type:'GET',
    context: document.body
  }).done(function(response) {
      console.log(response);
  });
        };

             function _gitcommit(){
console.log("Commiting");
           $.ajax({
    url: "commit",
    type:'GET',
    context: document.body
  }).done(function(response) {
      console.log(response);
  });
        };

                     function _gitcommithistory(){
console.log("Showing Commit History");
           $.ajax({
    url: "commithistory",
    type:'GET',
    context: document.body
  }).done(function(response) {
      console.log(response);
  });
        };

                     function _gitcommitlogs(){
console.log("Showing Commit Logs : ");
           $.ajax({
    url: "commitlogs",
    type:'GET',
    context: document.body
  }).done(function(response) {
      console.log(response);
  });
        };

      function _gitloadrepo(){
console.log("Showing Commit Logs : ");
           $.ajax({
    url: "loadrepo",
    type:'GET',
    context: document.body
  }).done(function(response) {
      console.log(response);
  });
        };

              function _gitdiff(){
console.log("Showing Diff between 2 commits : ");
           $.ajax({
    url: "difftree",
    type:'GET',
    context: document.body
  }).done(function(response) {
      console.log(response);
  });
        };
</script> 

<style>
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>
</head>
<body>
  <button onclick="_gitinit()" class="button">Init</button>
  <button onclick="_gitadd()" class="button">Add</button>
  <button onclick="_gitstatus()" class="button">Status</button>
  <button onclick="_gitcommit()" class="button">Commit</button>
  <button onclick="_gitinit()" class="button">Revert</button>
  <button onclick="_gitcommithistory()" class="button">Commit History</button>
  <button onclick="_gitcommitlogs()" class="button">Commit Logs</button>
  <button onclick="_gitdiff()" class="button">Diff</button>
  <button onclick="_gitloadrepo()" class="button">Load a repo</button>


   
</body>
</html>
